/* First Landing Page Project */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* General font applied throughout */
*{
    font-family: roboto, "sans serif";
}

.background-color-top{
    background-color: #805f1a;
}

/* Start of header flexbox items */
.header{
    display:flex;
    height: 96px;
    justify-content: space-evenly;
    align-items: center;

}

.logo-img{
    width: 80px;
}

.logo-header{
    display: flex;
    align-items: center;
}

ul    {
    list-style-type: none;
    display: flex;
    gap: 40px;
    line-height: 96px;
}

a{
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 24px;
}

/* Start of Hero Flexbox items */
.hero{
    display: flex;
    height: 500px;
    justify-content: center;
    padding: 150px;
}

h2{
    font-size:42px;
    color: white;
    margin: 0px;
}



.hero-paragraph{
    font-size: 16px;
    color: white;
    width: 384px;
}

button{
border-radius: 8px;
background-color: rgb(255, 255, 255);
color: black;
font-size: 20px;
padding: 4px;
padding-right: 8px;
padding-left: 8px;
border-style: none;
}

.hero-food{
    height: 500px;
    border-radius: 8px;
}

/* Start of thumbnail */

.thumbnail-title, .thumbnails{
    background-color: rgb(230, 227, 191);
    color: #47340b;
}

.thumbnail-title {
    font-size: 36px;
    font-weight: 900;
    text-align:center;
    padding-bottom: 32px;
    padding-top: 16px;
  }

.thumbnails{
    display: flex;
    justify-content: center;
    height:250px;
    gap: 16px;
}

.thumbnail-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.thumbnail-food-photo{
    height: 184px;
    border-radius: 8px;
}

.thumbnail-text{
    text-align: center;
    color:  #47340b;
}
/* Start of quote */
.quote{
    display: flex;
    background-color: #805f1a;
    justify-content: center;
    align-items: center;
    height: 200px;

}

.quote-text{
    font-size: 36px;
    color: white;
    font-style: italic;
    flex-wrap: wrap;
    width: 500px;
}

/* start of bottom banner */
.bottom-container{
    display: flex;
    background-color: rgb(230, 227, 191);
    height:250px;
    justify-content: center;
    align-items: center;
    gap:16px;
}

.bottom-box{
    background-color: #805f1a;
    width: 800px;
    height: 100px; 
    border-radius: 8px;
    padding: 16px;
    gap: 8px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

h3{
    margin:0px;
    color: white;
}

.bottom-text{
    color: white;
}

.bottom{
    flex-wrap: wrap;
    width: 400px;
}


/* start of footer */

.footer{
    display: flex;
    height: 64px;
    justify-content: space-between;
    align-items: center;
    background: #805f1a;
    padding: 0px;
}

.left-links, .right-links{
    color: black;
    text-decoration: none;
    padding: 8px;
}